<%= erb :nav %>
<%= erb :otherusers %>

<div class="buzzfeedContainer">
<%= erb :newpost %>
<%# @users.each do |user| %>	
<h1 style="font-family:'Brush Script MT'; font-size: 100px; font-weight: bold; width: 400px; margin: auto auto 20px auto;">News Feed</h1>

	<% @posts.each do |post| %>
		<div class="buzzfeedPost">
			<div class="PostonBuzzfeed">
				<div class="ProfileImageOfPost" style="background-image: url('<%= post.user.photo.url %>'); width: 70px; height: 70px; background-size: cover; background-position: center; border-radius: 50%; margin: 0px; position: relative; display: inline-block;"></div>
				<div class="postedOn" style="position: relative; width: 300px; display: inline-block; font-weight: bold; font-size: 21px;">
					<%= post.user.name %> <%= post.user.last %><br>
					<%= post.datetime.strftime("%I:%M%p") %>
					<%= post.datetime.strftime("%B %d, %Y") %>
				</div>
			</div>

				<div class="buzzfeedImages" style="background-image: url('<%= post.photo.url %>'); width: 500px; height: 500px; text-align: center; background-size: cover; background-position: center; margin: 0px auto 0px auto; border-style: solid; border-color: white; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.20), 0 4px 4px 0 rgba(0, 0, 0, 0.20);"></div><br>
				<div class="post_message">"<%= post.message %>"</div>
			
			<div class="comments1">
				<h5 style="margin-bottom: 0px;">Comments</h5>
				<% post.comments.each do |comment| %>
				<div class="buzzfeedComments">
					<span style="background-image: url('<%= comment.user.photo.url %>'); width: 30px; height: 30px; background-position: center; background-size: cover; display: inline-block; border-radius: 50%"></span>
					<div class="userCommentName" style="font-weight: bold; width: inherit; display: inline-block; padding-left: 5px;"><%= comment.user.name %>: </div> 
					<%= comment.message %>
				<% end %>
				</div>
				<%= erb :comment, locals: {post: post} %>
			</div>

		</div>
	<% end %>

<%# end %>
</div>